* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 20px;
}

/* hello peolle */

  header {
    padding: 20px;
    color:brown;
    background-color: #58df83;
    height: 150px;
    /* display: flex; */

}   

nav ul  {
  height: 100px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 30px;
  padding: 20px;
  list-style-type: none;
  color:blue;
  font-size: 1.1em;
  justify-content: start;
  align-items: flex-start;
}
.foto-1 {
  /* padding: 20px; */
   float: right; 
  border-bottom: 40px;
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  /* align-items: flex-end; */
  
  
}
a {text-decoration: none;}
a:hover {
  color: green;
}

.parts {
  height: 200px;
  display: flex;
  gap: 20px;
}
.part-1 {
  flex-grow: 1;
  display: flex;
  background-color: #e9c46a;
  flex-wrap: wrap;
}
.part-2 {
  flex-grow: 1;
  display: flex;
  background-color:rgb(33, 206, 64);
}
.part-3 {
  display: flex;
  flex-grow: 1;
}
.part-4 {
  display: flex;flex-grow: 2;
}


.container {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  flex-wrap: wrap;
  background-color: aliceblue;
  border: 1px solid black;
  align-items: center;
  align-content: center;
}

.box {
  font-size: 1.2em;
  width: 100px;
  height: 100px;
  padding: 12px;
  color: white;
}

.box-1 {
  display: flex;
  gap: 10px;
  flex-direction: row;
  background-color: #264653;
}
.box-2 {
  flex-grow: 1;
  background-color: #2a9d8f;
}
.box-3 {
  flex-grow: 1;
  align-self: center;
  background-color: #e9c46a;
}
.box-4 {
  background-color: #f4a261;
}
.box-5 {
  background-color: #e76f51;
}
